.divisorHablt{
    display: flex;
    width: 100%;
    height: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8vh;
}
.divisorHablt div:nth-child(2){
    width: 10px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 50%;
}
.divisorHablt div:nth-child(1), .divisorHablt div:nth-child(3){
    width: 35%;
    height: 20%;
    background-color: var(--white-color);
} 

.habilidades{
    padding-top: 5%;
}

.habilidades .titleHablt{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: var(--white-color);
    text-align: center;
    width: 100%;
    transition: transform 1s ease-out;
}


.habilidades .habltContainer{
    display: grid;
    grid-template-columns: 12% 12% 12% 12%;
    gap: 50px 10px;
    justify-content: space-evenly;
    width: 100%;
    margin: 5% 0%;
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
}

.habilidades .habltitem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--shwdow-grayHblt-color);
    border-radius: 15px;
    padding: 6%;
    cursor: pointer;
}

.habilidades .habltitem:hover{
    background-color: var(--shdow-brownRed-color);
}

.habilidades .habltitem .textHablt{
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.habilidades .habltitem .iconHablt{
    width: 60%;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.habilidades .habltitem:nth-child(1) .iconHablt{
    background-image: url('../imgs/nodeIcon.svg');
}

.habilidades .habltitem:nth-child(2) .iconHablt{
    background-image: url('../imgs/reactIcon.svg');
}

.habilidades .habltitem:nth-child(3) .iconHablt{
    background-image: url('../imgs/reactIcon.svg');
}

.habilidades .habltitem:nth-child(4) .iconHablt{
    background-image: url('../imgs/figmaIcon.svg');
}

.habilidades .habltitem:nth-child(5) .iconHablt{
    background-image: url('../imgs/sqlIcon.svg');
}

.habilidades .habltitem:nth-child(6) .iconHablt{
    background-image: url('../imgs/postgreIcon.svg');
}

.habilidades .habltitem:nth-child(7) .iconHablt{
    background-image: url('../imgs/gitIcon.svg');
}

.habilidades .habltitem:nth-child(8) .iconHablt{
    background-image: url('../imgs/pythonIcon.svg');
}

.habilidades .habltitem:nth-child(10) .iconHablt{
    background-image: url('../imgs/linuxIcon.svg');
}

.habilidades .habltitem:nth-child(11) .iconHablt{
    background-image: url('../imgs/javaIcon.svg');
}


@media(max-width: 767px){
    .habilidades .habltContainer{
        grid-template-columns: 30% 30%;
        gap: 20px 15px;
    }

    .habilidades .titleHablt{
        font-size: 1.8em;
        margin-bottom: 5%;
    }

    .habilidades .habltitem .textHablt{
        color: var(--white-color);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 0.9em;
    }

    .habilidades .habltitem:nth-child(9) .iconHablt{
        background-image: url('../imgs/linuxIcon.svg');
    }
    
    .habilidades .habltitem:nth-child(10) .iconHablt{
        background-image: url('../imgs/javaIcon.svg');
    }
}